html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    background-color: #222;
    /* height: 100%; */
    color: #222;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 140px 0;
    min-height: 500px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.3rem;
    color: white;
    margin: 0;
    width: 390px;
    
}

h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.375rem;
    line-height: 1.35;
    color: white;
    font-weight: 300;

    background-color: rgba(68, 68, 68, 0.75);
    border: none;
    border-radius: 5px;
    width: 370px;
    padding: 15px 20px;
    margin: 4px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav {
    color: rgb(180, 180, 180);
    font-weight: 400;
    margin: 0 20px 0 0;
}

a {
    text-decoration: none;
    color: #c8c8c8;
    font-weight: 400;
}

a:hover {
    color: rgb(238, 238, 238);
    color: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    float: left;
    padding: 20px;
    font-size: 1rem;
}

p {
    font-size: 1.125rem;
    margin: 0;
}

h4 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 4rem;
    font-weight: 400;
    margin: 2px;
}

h2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2.25rem;
    font-weight: 400;
    /* margin: 10px; */
}

h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.35;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
}

h6 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 13px 0;
    padding: 0;
}

.testemonial h6 {
    font-size: 1.125rem;
}

article {
    display: flex;
    flex-direction: column;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}

strong {
    font-weight: 700;
}

h3 strong {
    font-size: 1.5rem;
}

.main-footer {
    height: 62px;
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: space-between;
    /* margin: 0 30px; */
    /* max-width: 1200px; */
}

.main-footer nav {
    display: flex;
}

.link-free-session {
    color: #ffc400;
    font-weight: 600;
    padding: 20px;
    float: left;
    font-size: 1rem;
}

.link-free-session:hover {
    color: #ffe100;
    cursor: pointer;
}

button {
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    color: #222;
}

textarea {
    margin: 0 10px 10px 10px;
    padding: 10px 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #808080;
    border: 1px lightgray solid;
    border-radius: 5px;
}

input {
    margin: 0 10px 10px 10px;
    padding: 10px 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #808080;
    border: 1px lightgray solid;
    border-radius: 5px;
}

::placeholder {
    color: #808080;
}

.main-nav {
    height: 62px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 30px;
    width: 90px;
    height: 62px;
}

.photo {
    width: 400px;
    /* height: 62px; */

    /* margin: 60px; */
    padding: 0;
}

.hero-image {
    background-image: url("images/imageTop-03.jpeg");
    /* width: 100%; */
    background-position: bottom;
    background-size: cover;
    /* top: 0;
    left: 0; */
    top:0;
	right:0;
	bottom:0;
	left:0;

    height: 100vh;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    margin-top: 7%;
    margin-left: 20%;
}

.header-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    
    padding-bottom: 140px;
    width: fit-content;
    margin: 0 30px;
}

/* .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
} */

.coaching {
    background-color: white;
    padding-bottom: 80px;
}

.coaching article {
    margin-bottom: 60px;
}

.summary {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 140px;
    align-items: center;
    justify-content: center;
}

.summary-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    margin: 5px 5px;
    width: 260px;
    background-color: #F6F5F3;
}

.summary-box img {
    margin: 5px 0 7px 0;
}

.testemonial {
    background-color: #F6F5F3;
    padding-bottom: 80px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
}

.about .grid { 
    align-items: center;
}

.about-box-mission strong {
    font-size: 1.125rem;
}

.image-header {
    width: 100%;
    background-position: bottom;
    background-size: cover;
    top: 0;
    left: 0;
    min-height: 200px;
}

.header-testemonial {
    background-color: white;
    background-image: url("images/waves-03.svg");
    width: 100%;
    background-position: bottom;
    background-size: contain;
    background-repeat:repeat no-repeat;
    top: 0;
    left: 0;
    min-height: 71px;
}

.footer-testemonial {
    background-color: #F6F5F3;
    background-image: url("images/waves-footer.svg");
    width: 100%;
    background-position: bottom;
    background-size: contain;
    background-repeat:repeat no-repeat;
    top: 0;
    left: 0;
    min-height: 71px;
}

.img-testemonial {
    border-radius: 100px;
    margin: 0 20px 0 40px;
}

.about {
    background-color: #F6F5F3;
}

.contact {
    background-color: #111111;
    color: #808080;
    justify-content: center;
    padding-bottom: 10px;
}

.form-modal {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 15px;
}

.form-contact {
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
    margin: 0;
    width: 350px;
    height: 500px;
}

.close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
}

.close-btn:hover {
    color: darkgray;
}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-close {
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0;
    width: 420px; /* Could be more or less, depending on screen size */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px 20px 20px;
    border: 1px solid #888;
    width: 420px; /* Could be more or less, depending on screen size */
    border-radius: 5px;
}
  
  /* The Close Button */
.close {
    color: #aaa;
    color: darkgray;
    float: right;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
  
.close:hover,
.close:focus {
    cursor: pointer;
}

.title-modal {
    text-transform: capitalize;
    text-align: center;
    margin: 0 10px 13px 10px;
    color: #808080;
    font-weight: 500;
}

.form-modal-p {
    color: rgb(153, 153, 153);
    font-weight: 500;
}

.form-modal-confirmation {
    color: rgb(90, 151, 114);
    font-weight: 500;
    text-align: center;
    font-size: 0.9rem;
}

.form-modal-error {
    color: rgb(189, 96, 96);
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 5px;
}

.form-modal-msg {
    margin: 0 0 0 10px;
}

.input-contact {
    border: 2px #6d6d6d solid;
    color: white;
    background-color: #111111;
    border-radius: 7px;
}

.textarea-contact {
    border: 2px #6d6d6d solid;
    color: white;
    background-color: #111111;
}

.p-msg {
    margin: 0 10px 10px 10px;
}

main .bt-free-session {
    margin: 0 10px 100px 0;
}

.form-modal .bt-free-session {
    color: #444;
    margin: 0 10px;
}

.bt-free-session {
    background-color: #ffcc00;
    margin: 0;
}

.bt-free-session:hover {
    background-color: #fada20;
    /* transform: scale(1.1); */
}

.button-contact {
    background-color: #373634;
    color: #AAAAAA;
    font-weight: 500;
}

.button-contact:hover {
    background-color: #484848;
}

.ul-contact {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.contact-info {
    justify-items: start;
    width: 300px;
    margin: 0 10px 60px 20px;
}

.contact h4 {
    /* color: #F6F5F3; */
    color: #EEE;
}

.copyright {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.copyright p {
    font-size: 16px;
}

.copyright .logo {
    margin: 0 6px 4px 30px;
    height: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #808080;
}

.contact h6 {
    margin: 10px 12px;
    font-weight: 600;
    font-size: 1.125rem;
    color: #AAA;
}

.contact a {
    margin: 10px 12px;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.125rem;
    color: #AAA;
}

/* li {
    float: left;
    padding: 20px;
    font-size: 1rem;
} */

.contact a:hover {
    color: #d7d7d7;
}

.contact-success {
    color: rgb(105, 180, 134);
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
    font-size: 0.9rem;
}

.contact-error {
    color: rgb(211, 104, 104);
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 5px;
}

.testemonial-client {
    display: flex;
    margin: 0 10px 0 50px;
}

.testemonial-client-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testemonial-client-name {
    text-align: left;
    font-weight: 700;
    font-size: 1.1rem;
}

.testemonial-client-about {
    text-align: left;
    color: #808080;
    font-size: 1rem;
    margin: 0 0 3px 0;
    font-weight: 300;
}

.testemonial-client-content {
    text-align: left;
    flex-direction: column;
    margin: 20px 50px;
    max-width: 450px;
    background-color: white;
}

.testemonial-client-content p {
    background-color: white;
    margin: 0;
    padding: 2px 40px;
    line-height: 1.35;
    /* font-weight: 400; */
}

.testemonial-client-info h6 {
    margin: 0 0 7px 0;
}

.testemonial article {
    margin-bottom: 100px;
}

.quotation-mark-top {
    text-align: left;
    margin: 20px 20px 1px 20px;
}

.quotation-mark-bottom {
    text-align: right;
    margin: 1px 20px 20px 20px;
}

.icon-coaching {
    background-color: #111111;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.coaching li {
    float: none;
    margin: 0 10px;
    padding: 3px 0 3px 20px;

    background-image: url('images/bullet-yellow.svg');
    background-position: left center;
    background-size: 9px 9px;
    background-repeat: no-repeat;
}

.program {
    background-color: white;
    
}

.program-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.program-detail img {
    margin-bottom: 15px;
}

.program h6 {
    margin-bottom: 10px;
}

.about p {
    margin-bottom: 40px;
}

.about-box {
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    margin: 0 40px 40px 40px;
    max-width: 450px;
    align-items: flex-start;
    justify-content: center;
}

.about-box-mission {
    background-color: #ffffff;
    /* margin-top: -60px;
    margin-left: -60px;
    margin: -60px 60px 0 60px; */
    /* margin: 60px; */
    margin-top: 40px;
    padding: 50px;
    max-width: 300px;
    /* max-height: fit-content; */
}

.about-box-experiences {
    /* margin: 60px; */
    margin-top: 40px;
    padding: 25px;
    max-width: 350px;
}

.about li {
    float: none;
    margin: 0;
    padding: 3px 0 3px 20px;

    background-image: url('images/bullet-eclipse.svg');
    background-position: left center;
    background-size: 9px 9px;
    background-repeat: no-repeat;
}

/* NAV */
nav.navigation {
	position:relative;
	height:50px;
	background-color:rgba(61, 61, 61, 0.70);
	z-index:2;
}

ul.nav-menu, ul.nav-menu li, ul.nav-menu li a {
	float:left;
}

ul.nav-menu li a {
	color:#ffffff;
    color: #c8c8c8;
	text-decoration:none;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

ul.nav-menu li a:hover {
    color: white;
}

.nav-toggle {
	display:none;
    margin: 10px 20px;
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
    background-color: rgba(68, 68, 68, 0.75);
    border: none;
    border-radius: 5px;
	cursor:pointer;
}

span.icon-bar {
	position:absolute;
	right:12px;
	display:block;
	width:26px;
	height:2px;
	background-color:#ffffff;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.icon-bar:nth-child(1) {
  top:17px;
}

.icon-bar:nth-child(2) {
  top:24px;
}

.icon-bar:nth-child(3) {
  top:31px;
}

.nav-overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:1;
	opacity:0;
	visibility:hidden;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.nav-overlay.active {
	opacity:1;
	visibility:visible;
}

/* ICON BARS ANIMATION */
.nav-toggle.active .icon-bar:nth-child(1) {
	top:24px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-toggle.active .icon-bar:nth-child(2) {
	width:0;
}

.nav-toggle.active .icon-bar:nth-child(3) {
	top:24px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media only screen and (max-width: 767px) {
     .main-page {
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        margin: 30px;
    }
    /*
    h1 {
        font-size: 2.35rem;
        width: 90px;
    }

    h5 {
        font-size: 1rem;
        width: 270px;
        padding: 7px 10px;
        margin: 4px 0 10px 0;
    }

    button {
        margin: 0px 5px;
        font-size: 0.9rem;
        padding: 5px 10px;
    } */

   .main-nav {
        display: block;
        position:relative;
        z-index:2;
   }

    /* .copyright {
        display: flex;
        align-items: flex-end;
        margin: 10px 10px 22px 50px;
    } */

    .modal-content {
        width: 280px;
    }
    
    .coaching article {
        margin: 30px;
    }

    /* .menu-footer {
        display: none;
    } */
    
    
    
    
    /* body {
        overflow-x: hidden;
    }
    main {
        margin-top: 7%;
        margin-left: 5%;
    }
    
    h1 {
        font-size: 1.35rem;
        width: 90px;
    }

    h5 {
        font-size: 0.75rem;
        line-height: 1.35;
    
        width: 145px;
        padding: 7px 10px;
        margin: 4px 0 10px 0;
    }

    button {
        margin: 0px 5px;
        font-size: 0.7rem;
        padding: 5px 10px;
    }

    li {
        padding: 20px;
        float: left;
        font-size: 0.7rem;
    } */

    /* nav {
        margin: 0;
    } */

    ul.nav-menu {
		position:absolute;
		top:70px;
		width:100%;
		height:0;
		padding:0;
		overflow:hidden;
	}

	ul.nav-menu.active {
		height:auto;
	}

	ul.nav-menu li {
		width:100%;
	}

	ul.nav-menu li a {
        height:50px;
	    line-height:50px;
		width:100%;
		padding:0;
		text-align:center;
		background-color:#292929;
        border-bottom: 1px solid rgb(32, 32, 32);
	}

	ul.nav-menu li a:hover {
		background-color:#161616;
	}

	.nav-toggle {
		display:block;
	}

    li {
        padding: 0;
    }




}

@media screen and (min-width:767px) {
	.nav-overlay.active {
		visibility:hidden;
		opacity:0;
	}
}